Repository rhadp-example-repos/automotive-image-builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compose-test-modified-distro, compose-test-modified-target

.gitlab-ci.yml:

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH'

default:
  image: quay.io/centos-sig-automotive/automotive-osbuild

stages:
  - test
  - deploy

compose-test-job:
  stage: test
  script:
    - tests/test-compose tests/test-compose.json

compose-test-modified-distro:
 stage: test
 script:
   - 'tests/test-compose tests/test-compose.json distro "$(git diff --diff-filter=d --name-only ${CI_MERGE_REQUEST_DIFF_BASE_SHA} | grep ^distro/ | xargs -r basename -s .ipp.yml)"'
 rules:
   - changes:
       - distro/*.ipp.yml

compose-test-modified-target:
 stage: test
 script:
   - 'tests/test-compose tests/test-compose.json target "$(git diff --diff-filter=d --name-only ${CI_MERGE_REQUEST_DIFF_BASE_SHA} | grep ^targets/ | xargs -r basename -s .ipp.yml)"'
 rules:
   - changes:
       - targets/*.ipp.yml

unit-test-job:
  image: python:latest
  before_script:
    - python3 --version; pip --version
    - python3 -m pip install --upgrade pip
    - python3 -m pip install pytest pyyaml jsonschema
  stage: test
  script:
    - pytest aib/tests

yamllint-job:
  image: python:latest
  before_script:
    - python3 --version; pip --version
    - python3 -m pip install --upgrade pip
    - python3 -m pip install yamllint
  stage: test
  script:
    - make yamllint

build-image-x86-job:
  image: quay.io/centos-sig-automotive/automotive-osbuild
  stage: test
  script:
    - ./automotive-image-builder build --mode=image --export qcow2 example.mpp.yml example.qcow2

build-package-x86-job:
  image: quay.io/centos-sig-automotive/automotive-osbuild
  stage: test
  script:
    - ./automotive-image-builder build --mode=package --export image example.mpp.yml example.img

packit-srpm-build:
  image: quay.io/packit/packit
  stage: test
  script:
    - packit srpm
  artifacts:
    paths:
      - "*.src.rpm"
    expire_in: 1 week

build-simple-image-x86-job:
  image: quay.io/centos-sig-automotive/automotive-osbuild
  stage: test
  script:
    - ./automotive-image-builder build --mode=image --export image examples/complex.aib.yml example.img

build-simple-package-x86-job:
  image: quay.io/centos-sig-automotive/automotive-osbuild
  stage: test
  script:
    - ./automotive-image-builder build --mode=package --export image examples/complex.aib.yml example.img

pages:
  stage: deploy
  image: python:3.11
  before_script:
    - python3 --version; pip --version
    - python3 -m pip install --upgrade pip
    - python3 -m pip install pyyaml jsonschema json-schema-for-humans
  artifacts:
    paths:
      - public
  script:
    - mkdir -p public
    - generate-schema-doc files/manifest_schema.yml public/simple_manifest.html
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

Fix E711, E713
  aib/main.py
  aib/simple.py
  tox.ini
Due: none

Switch W504 for W503
  aib/exceptions.py
  aib/main.py
  aib/runner.py
  aib/simple.py
  tox.ini
Due: none

Fix F401, F821
  aib/main.py
  aib/ostree.py
  aib/simple.py
  tox.ini
Due: none

Add formatter check in tox
  aib/__init__.py
  aib/exceptions.py
  aib/exports.py
  aib/main.py
  aib/runner.py
  aib/simple.py
  aib/tests/builder_options_test.py
  aib/tests/exceptions_test.py
  aib/tests/manifest_test.py
  aib/tests/runner_test.py
  aib/utils.py
  tox.ini
Due: none

tox: add yamllint environment
  .gitlab-ci.yml
  tox.ini
Due: none

gitlab-ci: Add linter stage and coverage artifacts
  .gitignore
  .gitlab-ci.yml
  tox.ini
Due: none

Support fedora with podman config files in /usr/share/containers/
  distro/f40.ipp.yml
  distro/f41.ipp.yml
  include/computed-vars.ipp.yml
  include/defaults.ipp.yml
  include/qm.ipp.yml
Due: compose-test-modified-distro

examples/container.aib.yml: Fix build
  examples/container.aib.yml
Due: none

Add denylist_modules variable
  include/computed-vars.ipp.yml
  include/defaults.ipp.yml
Due: none

aib: Add --fusa option
  aib/main.py
Due: none

Support per-target fusa module denylists
  include/computed-vars.ipp.yml
  include/defaults.ipp.yml
Due: none

rcar_s4: fusa blacklist ufs_renesas, at24 and pcie_rcar_gen4
  targets/rcar_s4.ipp.yml
Due: compose-test-modified-target

Add auto/move and auto/symlink lorax scripts similar to auto/remove
  include/build.ipp.yml
Due: none

Fix /var in QM partition
  include/computed-vars.ipp.yml
  include/qm.ipp.yml
Due: none

QM: Fix selinux policy formating
  include/qm.ipp.yml
Due: none

Add osbuild dependencies to the spec file
  automotive-image-builder.spec.in
Due: none

Add the schedstats cmdline parameter to enable schedule statistics. This is necessary to set some of ftrace's event tracepoints
  include/computed-vars.ipp.yml
Due: none

On distros without linux-firmware-automotive don't install any firmwares
  distro/autosd9.ipp.yml
  distro/cs9.ipp.yml
  distro/eln.ipp.yml
  distro/f40.ipp.yml
  distro/f41.ipp.yml
  include/computed-vars.ipp.yml
  include/defaults.ipp.yml
Due: compose-test-modified-distro

Fix handling of uids, both in QM and host
  aib/main.py
  aib/tests/manifest_test.py
  include/build.ipp.yml
  include/computed-vars.ipp.yml
  include/data.ipp.yml
  include/qm.ipp.yml
Due: none

Don't always install ostree-compliance-mode in developer image
  include/computed-vars.ipp.yml
Due: none

qdrive3: Drop stmmac-mac-generator
  targets/qdrive3.ipp.yml
Due: compose-test-modified-target

use qcom-board-support COPR
  targets/qdrive3.ipp.yml
  targets/ridesx4.ipp.yml
Due: compose-test-modified-target

use rpi-board-support COPR
  targets/rpi4.ipp.yml
Due: compose-test-modified-target

Drop e2fsprogs from default package set
  include/defaults.ipp.yml
Due: none

CI: Don't test abootqemu on autosd distro
  tests/test-compose.json
Due: none

distro: add the distro file for RHIVOS
  distro/rhivos.ipp.yml
  distro/rhivos1.ipp.yml
Due: compose-test-modified-distro

Allow the compose-test-modified-distro to fail
  .gitlab-ci.yml
Due: none

distro: remove the Sig repo from the autosd distro file
  distro/autosd9.ipp.yml
Due: compose-test-modified-distro

Make aib always run as a writable container
  aib/runner.py
  aib/tests/runner_test.py
Due: none

fix empty pipelines exception
  aib/main.py
Due: none

Bump version to 0.4.0 on main
  Makefile
Due: none

Bump the default cache-max-size to 2GB
  aib/main.py
Due: none

add Containerfile
  Containerfile
Due: none

Add some tests to bump the coverage
  aib/tests/simple_test.py
Due: none

Initial work on vm support in aib
  Makefile
  aib/main.py
  aib/vm.py
  aib/vmhelper.py
  automotive-image-builder.spec.in
  automotive-image-vm
  files/aibvm-init
  files/aibvm-run
  files/dnf-aibvm-init.conf
  tox.ini
Due: none

automate a-i-b container build on each commit
  .gitlab-ci.yml
  Containerfile
Due: none

Allow setting the IP address of the VM
  automotive-image-runner
Due: none

Allow changing the network range used by the VM
  automotive-image-runner
Due: none

Add a new target for the QC RIDESX4 board, Rev 3
  targets/_ridesx4_r3.ipp.yml
  targets/ridesx4_r3.ipp.yml
Due: compose-test-modified-target

switch container image to automotive-image-builder
  aib/main.py
Due: none
